/*
 * Copyright (c) 2023, Terwer . All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Terwer designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Terwer in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Terwer, Shenzhen, Guangdong, China, youweics@163.com
 * or visit www.terwer.space if you need additional information or have any
 * questions.
 */

// 字体
_font-family-mono = "Open Sans", "LXGW WenKai", "-apple-system", "Microsoft YaHei", "Times New Roman", "方正北魏楷书_GBK"
_font-family-math = "KaTeX_Main", "Times New Roman", "serif", "JetBrains Mono", "Open Sans", "LXGW WenKai", "-apple-system", "Microsoft YaHei", "Times New Roman", "方正北魏楷书_GBK"
_font-size-mini = 12px
_font-size-small = 14px
_font-size-normal = 16px
_font-size-bg = 24px

// 间距
_padding-zero = 0
_margin-zero = 0

// 边框
_border-radius-round = 50%

// 颜色
// 通用
// 灰色
_gray-1 = rgb(247,248,250)
_gray-2 = rgb(242,243,245)
_gray-3 = rgb(229,230,235)
_gray-4 = rgb(201,205,212)
_gray-5 = rgb(169,174,184)
_gray-6 = rgb(134,144,156)
_gray-7 = rgb(107,119,133)
_gray-8 = rgb(78,89,105)
_gray-9 = rgb(39,46,59)
_gray-10 = rgb(29,33,41)

// 绿色
--green-1 = rgb(232,255,234)
--green-2 = rgb(175,240,181)
--green-3 = rgb(123,225,136)
--green-4 = rgb(76,210,99)
--green-5 = rgb(35,195,67)
--green-6 = rgb(0,180,42)
--green-7 = rgb(0,154,41)
--green-8 = rgb(0,128,38)
--green-9 = rgb(0,102,34)
--green-10 = rgb(0,77,28)

// 蓝色
--blue-1 = rgb(232,247,255)
--blue-2 = rgb(195,231,254)
--blue-3 = rgb(159,212,253)
--blue-4 = rgb(123,192,252)
--blue-5 = rgb(87,169,251)
--blue-6 = rgb(52,145,250)
--blue-7 = rgb(32,108,207)
--blue-8 = rgb(17,75,163)
--blue-9 = rgb(6,48,120)
--blue-10 = rgb(0,26,77)
// -------------------------------------------------浅色模式---------------------------------------------------
// basic
_body-bg-light = #f4f4f4
_main-bg-light = #fff
_sidebar-bg-light = hsla(0deg, 0%, 100%, 80%)
_blur-bg-light = hsla(0deg, 0%, 100%, 90%)
_custom-block-bg-light = #f1f1f1
_primary-color-light = #121212
_text-color-light = #121212
_text-lighten-color-light = #056de8
_border-color-light = rgba(0, 0, 0, 12%)
_list-hover-light = hsla(0deg, 0%, 60%, 15%)
// code-block
_code-bg-light = #f6f6f6
_code-color-light = #525252
_code-tab-bg-light = _main-bg-light
_code-content-bg-light = #f8f9fa
// editor
_protyle-inline-blockref-color-light = rgb(23, 81, 153)
_protyle-inline-tag-color-light = #8590a6
_protyle-inline-link-color-light = rgb(23, 81, 153)

// -------------------------------------------------暗黑模式---------------------------------------------------
// basic
_body-bg-dark = #121212
_main-bg-dark = #000
_sidebar-bg-dark = rgba(30, 30, 34, 80%)
_blur-bg-dark = rgba(30, 30, 34, 80%)
_custom-block-bg-dark = #27272b
_primary-color-dark = #3573f0
_text-color-dark = #9b9baa
_text-lighten-color-dark = #0085ad
_border-color-dark = #30363d
_list-hover-dark = hsla(0deg, 0%, 60%, 15%)
// code-block
_code-bg-dark = #252526
_code-color-dark = #fff
_code-tab-bg-dark = _main-bg-dark
_code-content-bg-dark = #1e1e1e
// editor
_protyle-inline-blockref-color-dark = rgb(99, 133, 166)
_protyle-inline-tag-color-dark = #8590a6
_protyle-inline-link-color-dark = rgb(99, 133, 166)

// -------------------------------------------------护眼模式---------------------------------------------------
// basic
_body-bg-green = #ececcc
_main-bg-green = #f5f5d5
_sidebar-bg-green = rgba(245, 245, 213, 80%)
_blur-bg-green = rgba(245, 245, 213, 90%)
_custom-block-bg-green = #ececcc
_primary-color-green = #00323c
_text-color-green = #704214
_text-lighten-color-green = #963
_border-color-green = rgba(0, 0, 0, 15%)
_list-hover-green = hsla(0deg, 0%, 60%, 15%)
// code-block
_code-bg-green = #282c34
_code-color-green = #fff
_code-tab-bg-green = _main-bg-green
_code-content-bg-green = rgba(27, 31, 35, 5%)
// editor
_protyle-inline-blockref-color-green = rgb(23, 81, 153)
_protyle-inline-tag-color-green = #8590a6
_protyle-inline-link-color-green = rgb(23, 81, 153)