@import "basic-light"
@import "basic-dark"
@import "basic-green"

// 基础样式
:root
  --zhi-font-family _font-family-mono
  --zhi-font-family-code _font-family-mono
  --zhi-border-radius-round _border-radius-round