// -------------------------------------------------代码块-Sofill-适配---------------------------------------------------
html[data-light-theme="Sofill-"]
  .code-block::after
    top 0.7rem !important

  .b3-typography .code-block .protyle-action .protyle-action__language
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__language
    top -0.1rem
    left unset !important
    right 0.2rem