// -------------------------------------------------代码块-Savor适配---------------------------------------------------
html[data-light-theme="Savor"]
  .b3-typography .code-block .protyle-action .protyle-action__language
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__language
    top 0.2rem