// 基础样式
:root
  // 字体
  --b3-font-family _font-family-mono
  --b3-font-family-code _font-family-mono
  --b3-font-family-graph _font-family-mono
  --b3-font-family-emoji _font-family-mono
  --b3-font-family-math _font-family-math
  --b3-font-family-protyle _font-family-mono

  // 字体大小、间距
  font-size _font-size-normal
  margin _padding-zero
  padding _margin-zero
  color var(--b3-theme-on-background)

  // 标签间距
  .b3-label
    line-height 22px

  a
    color var(--b3-protyle-inline-blockref-color)