/*
 * Copyright (c) 2023, Terwer . All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Terwer designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Terwer in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Terwer, Shenzhen, Guangdong, China, youweics@163.com
 * or visit www.terwer.space if you need additional information or have any
 * questions.
 */

@import "basic-light.styl"
@import "basic-dark.styl"
@import "basic-green.styl"

// 基础样式
body
  // 字体
  --b3-font-family _font-family-mono
  --b3-font-family-code _font-family-mono
  --b3-font-family-graph _font-family-mono
  --b3-font-family-emoji _font-family-mono
  --b3-font-family-math _font-family-mono

  // 字体大小、间距
  font-size _font-size-normal
  margin _padding-zero
  padding _margin-zero
  color var(--b3-theme-on-background)

  // 标签间距
  .b3-label
    line-height 22px