// 标签与左侧间距
.protyle-background__tags
  margin-left 60px !important

//// 标签操作按钮
//.protyle-icons
//  opacity 1

// 背景间距
.protyle-background__iconw
  left 78px !important

// 标题与编辑器左侧间距
.protyle-title
  margin-top 0 !important
  margin-left 72px !important
  margin-right 48px !important

// 正文左右间距
.protyle-wysiwyg
  padding-left 72px !important
  padding-right 48px !important

// 正文标题间距
.protyle-wysiwyg--attr
  padding-top 0 !important

// 引述
// 编辑器
.protyle-wysiwyg blockquote
.protyle-wysiwyg .bq
  background-color transparent
  border-radius 0
  border-color var(--b3-protyle-inline-link-color)

// 详情
.b3-typography blockquote
.b3-typography .bq
  background-color transparent
  border-radius 0
  border-color var(--b3-protyle-inline-link-color)

.protyle-wysiwyg blockquote::before
.protyle-wysiwyg .bq::before
  border-radius 0
  background-color var(--b3-protyle-inline-link-color)

// 分割线
.protyle-wysiwyg [data-node-id].hr>div:after
  background-color #e7e6db