// -------------------------------------------------编辑器-暗黑模式---------------------------------------------------
html[data-theme-mode="dark"]
  --b3-protyle-inline-blockref-color _protyle-inline-link-color-dark
  --b3-protyle-inline-fileref-color _protyle-inline-tag-color-dark
  --b3-protyle-inline-link-color _protyle-inline-link-color-dark