// -------------------------------------------------编辑器-浅色模式---------------------------------------------------
html[data-theme-mode="light"]
  --b3-protyle-inline-blockref-color _protyle-inline-blockref-color-light
  --b3-protyle-inline-tag-color _protyle-inline-tag-color-light
  --b3-protyle-inline-link-color _protyle-inline-link-color-light