// -------------------------------------------------编辑器-暗黑模式---------------------------------------------------
html[data-theme-mode="dark"]
  --b3-protyle-inline-blockref-color red
  --b3-protyle-inline-fileref-color red
  --b3-protyle-inline-link-color red