// -------------------------------------------------编辑器-阅读模式---------------------------------------------------
html[data-theme-mode="green"]
  --b3-protyle-inline-blockref-color _protyle-inline-blockref-color-green
  --b3-protyle-inline-tag-color _protyle-inline-tag-color-green
  --b3-protyle-inline-link-color _protyle-inline-link-color-green