// -------------------------------------------------顶部页签-暗黑模式---------------------------------------------------
html[data-theme-mode="dark"]
  --zhi-tabbar-bg rgba(0,0,0,0)
  --zhi-layput-border var(--b3-border-color)
  --zhi-tabbar-item-bg var(--b3-list-hover)