// -------------------------------------------------顶部页签-浅色模式---------------------------------------------------
html[data-theme-mode="light"]
  --zhi-tabbar-bg rgba(0,0,0,0)
  --zhi-layput-border var(--b3-border-color)
  --zhi-tabbar-item-bg _gray-light-1