// 挖空制卡
.card__block .protyle-wysiwyg .p[data-node-id][custom-riff-decks]
  margin-top 12px
.protyle-wysiwyg .p[data-node-id][custom-riff-decks]
  border-left none !important
  border-radius 0
  padding 12px
  background-clip padding-box
  &::before
    content ""
    position absolute
    top 0
    left 0
    width 0.15em
    height 100%
    background-color #00c853
    box-shadow 0 0 5px 2px var(--b3-card-success-background)

.protyle-wysiwyg span[data-type*="mark"]
  padding 2px 8px
  margin-right 4px
  margin-left 4px
  color var(--b3-card-success-color)
  background-color var(--b3-card-success-background)
  border-radius 5px
  // fix: #101
  // font-size 12px

// 列表制卡
.card__block .protyle-wysiwyg .li[data-node-id][custom-riff-decks]
  margin-top 12px
.protyle-wysiwyg .li[data-node-id][custom-riff-decks]
  border-left none !important
  border-radius 0
  box-shadow 0 0 5px 2px #ff6a6a !important
  padding 12px
  background-clip padding-box
  &::before
    content ""
    position absolute
    top 0
    left 0
    width 0.15em
    height 100%
    background-color #ff6a6a
    box-shadow 0 0 5px 2px var(--b3-card-warning-background)

// 超级块制卡
.card__block .protyle-wysiwyg div[data-type="NodeSuperBlock"][data-node-id][custom-riff-decks]
  margin-top 12px
.protyle-wysiwyg div[data-type="NodeSuperBlock"][data-node-id][custom-riff-decks]
  border-left none
  border-radius 0
  box-shadow 0 0 5px 2px #7c4dff
  padding 12px
  background-clip padding-box
  &::before
    content ""
    position absolute
    top 0
    left 0
    width 0.15em
    height 100%
    background-color #7c4dff
    box-shadow 0 0 5px 2px var(--b3-card-info-background)