// -------------------------------------------------闪卡-暗色模式---------------------------------------------------
html[data-theme-mode="dark"]
  .protyle-wysiwyg .p[data-node-id][custom-riff-decks]
    box-shadow 0 0 5px 2px #f5f5f5

